html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 20;
  outline: none;
  background-color: #ffd55a;
  font-family: "Josefin Sans", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-ont-smoothing: grayscale;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
.nav {
  position: fixed;
  width: 100%;
}
.nav ul li {
  margin: 0 2rem;
}
.nav ul {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul li a,
#FoodViolations,
#about,
#contact {
  color: rgba(2, 71, 11, 0.993);
}
#FoodViolations,
#about,
#contact {
  height: 100vh;
  padding-top: 65px;
  text-align: center;
}
